body{
    font-family: 'Poppins', sans-serif;
        position: relative;
        font-size: 16px;
}

.nav-item{
    margin-right:2em;
    font-size: 1em
}

.nav-link{
    font-family: 'Poppins', sans-serif;
/* font-size:16px; */
color:white;
padding:30px 0 !important;
font-weight: 400;
}
.nav-link:hover{ 
 color:#8fd445 !important;
}
.hero{
    width:100%;
    position: relative;
}
.navbar-custom{
    width: 100%;
}
.heroSlider{
    width:100%;
    height:100vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.overlay{
    background-color: rgba(0,0,0,.43);
    width:100%;
    position: absolute;
    left:0;
    top:0;
    z-index:2;
    height:100%;
}
.overlay.overlaywork{
    background-color: rgba(0,0,0,.30);

}

.navbar-brand{
    width:100px;
    transition: 1s all;
    margin:0 !important;
}

img{
    width:100%;
}
.social .nav-item{
    margin-right:35px;
}



.main-menu{
width:100%;
position: absolute;
transition: 1s all;
z-index: 15;
}

.dropdown-menu{
    left: auto;
    background: transparent;
    border:1px solid white;
    top:60px;

}
.dropdown-menu a{
    color: #fff;

}
.scrollNav .dropdown-menu{
    background: #fff;
    top:81px;}
.scrollNav .dropdown-menu a{
    color: black;
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: 1s;
    background: rgb(255, 255, 255) !important;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 7px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    height:95px;
}
.scrollNav .nav-link{
    color:black ;
}
.scrollNav .navbar-brand{
    width:60px !important;
    transition: 1s all;
}
.social .nav-link.facebook:hover{
color: #3b5998 !important;
}
.social .nav-link.twitter:hover{
    color:  #1da1f2 !important;
    }
.languge{
    color:black;
    background-color: white;
    padding:0;
    padding:6px !important;
    border-radius: 5px;
    font-size: 12px !important;
    font-family: 'Cairo', sans-serif !important;


}
.Donate{
    background-color:#8fd445 !important;
    border-radius: 40px;
    font-size: .9em;
    color:white;
    border:0;
    padding: 0px 10px;
    /* width:100px;
    height:43px; */
    line-height: 37px
}   
.languge:hover{
    background-color:#8fd445 ;
}
.social .navbar-nav{
    display: inline-block;
}
.social ul li{
    display: inline-block;
}

.heroSlider .owl-next,.heroSlider .owl-prev,.donateSlider .owl-next,.donateSlider .owl-prev{

    position: absolute;
    top:50%;
    color:white;
    font-size: 2em;
    z-index: 5;
}
.heroSlider .owl-prev
{
left:10%;
}
.heroSlider .owl-next
{
right:10%;
}
.owl-dots{
    position: absolute;
    bottom: 20px;
    left:46%;
    z-index: 66666;
}
.heroSlider .owl-dots .owl-dot{
width:10px;
height:10px;
border:2px solid white;
margin-left:10px;
border-radius: 50%;
display: inline-block;
}
.heroSlider .owl-dots .owl-dot.active{
background-color: white;
}
.heroText{
position: absolute;
top:40%;
z-index: 11;
left:22%;
color:white;
font-weight: 500;
}
.heroText span{
    font-size:3em;
    background-color:#8fd445 ;
    padding:5px;
 
}
.heroText p{
font-size:38px;
margin-bottom: 25px;
}
.workSection{
    padding-top:75px;
    background-color:#f9f9f9;
    padding-bottom:85px;
}
.sectionTitle{
    font-size:35px;
    font-weight: 500;
}
.sectionTitleDetails{
    font-size:16px;
    color:#a1a1a1;
    margin-top:15px;
    font-weight: 400;
}
.workSlider{
    margin-top:25px;
    margin-bottom:80px;
}

.workslideImg{
    box-shadow: 0 0  0 5px #f5f6f8 inset;
}
.imgCont{
    width:80px;
    margin:0 auto;
    margin-bottom:15px;
}
.WorkDonate{
    margin-top:18px;
    border-radius: 0;
    visibility:hidden;
}

.sliderCont{
    position: absolute;
    bottom:80px;
    left:32%;
}

.worksliderItem{
    cursor: pointer;
    transition: 1s all;
    overflow: hidden;

  
}
.workslideImg{
    height:100%;
    overflow: hidden;
}
.worksliderItem:hover{
    transition: 1s all;
}
.worksliderItem:hover .workslideImg{
    outline: 1px solid #a7a19a;
    outline-offset: -25px;
    transform: scale(1.1);
    transition: 1s all;
}
.worksliderItem:hover .WorkDonate{
  visibility: visible;
}
.sliderCont h6{
font-size:30px;
color:white;
margin:auto;}
.underlineTitle{
    font-size:38px;
    font-weight: 500;
    color:black;
    position: relative;
}
.underlineTitle:before{
    content:"";
    width:5%;
    border:3.5px solid #8fd445;
    position: absolute;
    left:0;
    bottom:-7px;
}
.readMore{
    padding:0 15px;
}
.readMoreNews{
    position: absolute;
    background-color:#8fd445;
    border-radius: 0;
    bottom:-35px;
z-index: 1;
height:50px;
width:170px;
left:25%;
}
.newsSlider{
    margin-top:65px;
}
.newsSlider .owl-stage-outer{
    min-height:500px;
}
 .card.newsCard{
background-color:#f0f1f3;
border:0;
text-align: left;
}
.newsSliderItem{
cursor: pointer;
transition: 1s all;
}
.newsSliderItem:hover{
transition: 1s all;
box-shadow: 0 0 15px 5px rgba(0,0,0,.1)
}
.newsSliderItem .card-body{
    padding:35px 35px 45px ;
}
 .card-title{
    font-size:20px;
}
.card-text{
    font-size:14px;
    color:#99999a;
    height:60px;
    overflow: hidden;
}
.counterSec{
    background-image: url("../img/counterbg.png");
    background-size: cover;
    padding:85px 0;
    background-repeat: no-repeat;
}
.countCont{
    margin:0 auto;
    color:white;
}
.counticon{
    width:70px;
    margin:0 auto;
    margin-bottom:20px;
    
}
.countnum{
    font-size:45px
}
.countDetails{
    font-size:20px;
}
.testomonial{
    padding:85px 0;
}
.testTitle{
    font-size: 38px;
    font-weight: 500;
}
.testImg{
    width:75px;
    height:75px;
    border-radius: 50%;
    margin:auto;
    margin-bottom:15px;
}
.TestSlider{
    margin-top:20px;
}
.testItem{
    width:75%;
    margin:auto;
}
.testImg img{
    border-radius:50%;
    height: 100%;}

.testName{
    font-size:35px;
    font-weight: 500;
}
.jobTitle{
    font-size:16px;
    color:#8fd445;
    display: block;
    margin-bottom:20px;
}
.testDesc{
    color:#939393;
    font-size:14px;
}
.TestSlider .owl-dots{
    display: none !important;
}
.TestSlider .owl-prev ,.TestSlider .owl-next{
    position: absolute;
    font-size:25px;
    top:50%;
}
.TestSlider .owl-prev{
   
    left:0;
}
.TestSlider .owl-next{
right:0;
}
.footer{
    background-image:url("../img/footerbg.png");
    background-size:cover;
    background-repeat: no-repeat;
    padding:65px 0;
}
.underlineTitle.footer-title{
    color:white;
    font-size:24px;
    font-weight: 500;
    position: relative;
}
.underlineTitle.footer-title:before{
    border:2px solid #8fd445;
    width:10%;
    bottom:-12px;
}
.aboutSec{
    margin-top:30px;
}
.footerlogo{
    width:30%;
    margin-right:25px;
    display: inline-block
}
.aboutDesc{
    display: inline-block;
    width:61%;
    font-size:12px;
    color:#a3a2a2;
}
.subscribSec{
    width:100%;
    margin-top:30px;
    position: relative;
}
.subEmail{
    width:100%;
    background-color: #3d3d3d;
    border-radius: 40px;
    border:0;
    height:48px
}
.subEmail::placeholder{
    padding:20px 30px;
    font-size:12px;
    color:#999999;
}
.subscribe{
    background-color:#8fd445;
    color:white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: absolute;
    right:0;
    top:0;
    height:48px;
    line-height: 37px;
    width:120px;
    font-size: 14px;
}
.footerMenu{
    padding:0;
    margin:0;
}
.footerMenu li{
    list-style-type: none;
    margin:0;
    padding:0;
    margin-top:24px;
}
.footerMenu li a{
    color:white;
    font-size:14px;
  
}
.footerMenu li:first-child{
    margin-top:0;
}
li .underlineTitle.footer-title:before{
width:30%;
}
.copy-right{
    background-color: #212121;
    padding:30px 0;
}
.copy-right span{
    font-size:14px;
    color:white;
}
.socialIcons li{
    list-style-type: none;
    display: inline-block;
    margin-left:12px;
}
.socialIcons li a{
    color:#727272;
    font-size: 18px;
}
.socialIcons li a:hover{
    color:#8fd445
}
.pageTitle{
    background-color:#8fd445;
    text-align:center;
    width:100%;
    padding:20px 0;
}
.pageTitle span{
color:white;
font-size: 22px;
}
.innerHerochild{
    background-image: url("../img/innerbg.png");
    width:100%;
    background-size:cover;
    padding:85px 0 60px 0;
    background-repeat: no-repeat;
}
.innerHeroCont{
    color:white;
}
.innerTitle{
    font-size:30px;
}
.innerText{
    font-size:16px;
}
.Sponer{
    background-color: #8fd445;
    font-size:14px;
    color:white;
    width:135px;
    border-radius: 0;
    padding:16px;
    margin-top:25px;
}
.saveCont{
    padding:35px 0 70px 0;
    width:100%;
    background-color: #fafafa;

}
.childCont.card{
width:100%;
background-color:#f0f1f3;
padding-top:35px;
border:0;
margin-bottom:30px;
}
.childCont.card .card-title{
    font-size:20px;
    margin-bottom:0;
}
.childCont.card .card-text{
    font-size:14px;
    color:#afafaf;
    margin-bottom:0;
    margin-top:18px;
    line-height: 2;
}
.childimg{
    width:170px;
    height:170px;
    margin:0 auto;

}
.childimg .card-img-top{
    border-radius: 50%;
}
.pagenationNav{
    margin-top:20px;
}
.pagenationNav .page-link{
    margin-right:13px;
    background-color: white;
    border:0 !important;
    padding:15px;
    box-shadow:0 0 5px 0px rgba(0,0,0,.1);
    border-radius: 0 !important;
    border-radius: 8px !important;
    color:black;
    font-size:14px;
    line-height: 1;
}
.pagenationNav .page-item.active .page-link{
background-color: #6eae62;
color:white;
}
.Galleryimg{
    margin-bottom:10px;
}
.GalleryCont{
    background-color: #fafafa;
    padding:30px 0 50px 0;
    width:100%;
    position: relative;
}
.GalleryCont img{
    position: relative;
}
.imgtext{
    position: absolute;
    width:90%;
    left:5%;
background-color:rgba(0,0,0,.6);
bottom:7%;
color:white;
padding:5px 10px;
font-size: .75em
}
.searchicon{
   padding:15px 20px;
    color:white;
    background-color: #8fd445;
    border-radius: 50%;
    position: absolute;
    left:45%;
    top:40%;
    font-size: 20px;
    text-align: center;
}
.lSPrev,.lSNext{
font-size:40px !important;
color:white !important;

}
#lightSlider .imgtext{
width:50%;
left:30px;
background-color:rgba(0,0,0,.4);

}
#lightSlider .Galleryimg{
    position: relative;
}
.DonatCont,.ContactCont{
    padding:50px 0;
    background-color:#fafafa;
}
.donateSlider{
    max-height: 850px;
    margin-bottom:30px;
}
.donatCarouselItem{
    width:100%;
}
.donateSlider .owl-next
,.donateSlider .owl-prev{
    top:25%;
}
.donateSlider .owl-next
{
right:0;
}
.donateSlider .owl-prev{
    left:0
}
.donateImgCont{
    position: relative;
}
.donateDesc ,.donatBox,.contactFormBox{
    padding:60px 70px;
    background-color:white;
    color:#cdcdcd;
}
.donateDesc h4{
font-size:24px;
color:black;
}
.donateDesc p,.donatBox p{
    font-size:14px;}
    .donatBox{
        padding:60px 30 100px 30px;
        background-color: white;

}
.donatBox h4{
    font-size:20px;
    color:black
}
.donatBox p{
    max-width: 70%;
}
.donateForm{
    margin-top:20px;
}
.form-control{
    background-color:#f6f6f6;
    border:0;
    padding:20px;
    border-radius: 0;
    height: 55px;
}
.form-control::placeholder{
    font-size:14px;
    color:#939393;
}
.form-group.inlinegroup{
    width:48%;
    display: inline-block;
    
}
.form-group.lastinput{
    margin-left:30px;
}
textarea{
    resize: none;
}
.money{
visibility: hidden;
}   
 .form-control.moneyLabel{
    font-size:14px;
    color:#939393;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    border:1px solid transparent;
    width:100px;
    padding:0;

}
.radioGroup{
    display: inline-block;
    margin-right:20px;

}
.form-control.moneyLabel:hover{
color:#8fd445;
border:1px solid #8fd445;
}

.contactFormBox h4{
font-size:20px;
color:black;
}
.contactFormBox p{
font-size:14px;
color:#aeaeae;
}
.contactFormBox form{
    margin-top:20px;
}
.contactFormBox ul{
    padding:0;
    margin-top:20px;
}
.contactFormBox ul li{
    list-style-type: none;
    color:#4d5168;
    font-size:16px;
    margin-bottom:18px;
}
.contactFormBox .ContactinformationList  i{
margin-right:5px;
color:black;
}
.informationBox.contactFormBox{
    padding:60px 50px;
}
.socialConact{
    margin-top:10px;
}
.socialConact span{
    margin-right:10px;
    height:30px;
    width:30px;
    line-height: 30px;
    text-align: center;
    color:white;
    border-radius: 50%;
}
.socialLink{
color:white;
}

.socialConact span.facebook{
  background-color:#3b5998;  
  transition: 1s all;
}
.socialConact span.facebook:hover,.socialConact span.twitter:hover,.socialConact span.youtube:hover{
    background-color:white;
    transition: 1s all;
}
  .socialConact span.facebook:hover .socialLink{
    color:#3b5998 !important;
    transition: 1s all;
  }

.socialConact span.twitter{
    background-color:#26a6d1;
    transition: 1s all;
  
}
.socialConact span.twitter:hover .socialLink{
    color:#26a6d1 !important;
    transition: 1s all;
  }

.socialConact span.youtube{
    background-color:#c4302b;
    transition: 1s all;
  
}
.socialConact span.youtube:hover .socialLink{
    color:#c4302b !important;
    transition: 1s all;
  }
  .newsPage{
      margin-bottom:80px;
  }
  .card.projectPage{
      background-color: white;
      box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
      margin-bottom:30px;
      transition: all .5s;
 }
 .card.projectPage:hover{
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,.3);
    margin-top:1px;
    transition: all .5s;
 }
.projectPage .card-img-top{
    height:340px;
}
.card.projectPage .card-body{
    padding:30px !important;
}
.card.projectPage .card-title{
font-size:1.125em;
line-height: 2;

}
.projectDonat{
    background-color: #8fd445;
    color:white;
    border-radius: 0;
    font-size:1em;
}
.privacy-title{
font-size:20px;
}
.Privacy-Box{
    padding:45px 70px;
    background-color: white;
}
.Privacy-Section{
    margin-bottom:50px;
}
.privacy-par{
    font-size:14;
    color:#9b9b9b;
}
.teamBox{background-color:white;
padding:60px;}
.teamMember{
    margin-bottom:60px;
}
.teamMemberImg{
    width:190px;
    height:190px;
    margin:auto;
}
.teamMemberImg img{
border-radius:50%;
height: 100%;
}
.memDesc{
    margin-top:25px;
}
.memDesc h4 {
    font-size:1.125em;
}
.memDesc span{
color:#b2b2b2;
font-size:1em;
display: block;
}
.teamMemberImg.teamimgSmall{
    width:155px;
    height:155px;
}
.ProjImg{
    position: relative;
}
.projtext{
    position: absolute;
    left:0;
    bottom:10%;
    background-color:white;
    width:30%;
    padding:20px 28px;
}
.projtext .projectDonat{
    font-size:14px;
}
.projBox p{
    font-size:1em;
    color:#9b9b9b;
    padding:4%;
}
.projBox{
    background-color:white;
    width:100%;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1)
}
.projtext .card-title{
    line-height: 1.5;
}
.projSliderSection{
    margin-top:50px;
}
.projSliderSection h6{
    font-size:1.25em;
}
.projectSlider{
    margin-top:20px;
}
.projectSlider .owl-prev,.projectSlider .owl-next{
    width: 40px;
    height: 40px;
    text-align: center;
    background: #000;
    color: white;
    top: 30%;
    line-height: 40px;
    position: absolute;
    transition: all .5s;

}
.projectSlider .owl-prev:hover,.projectSlider .owl-next:hover{
transform: scale(1.1);
transition: all .5s;
}
.projectSlider .owl-prev{
left:0;
}
.projectSlider .owl-prev:hover{
    left:2;
    }
.projectSlider .owl-next{
right:0;
}
.projectSlider .owl-next:hover{
    right:2;
    }
    .Galleryimg.Video .imgtext{
        background-color: black;
        width:100%;
        bottom:0;
        left:0;
        
    }
    .Galleryimg.Video{
        position: relative;
    }
    iframe{
        
        width:100%;
    }
    .form-group.monthyear{
width:30%;
display: inline-block;
margin-right: 20px;
    }
    .form-group.monthyear:last-child{
        margin-right:0;
    }
    .CardBox{
        padding:50px 30px;
    }
    .form-btn{
        background-color:#6eb83f;
        color:white;
        font-size:.875em;
        padding:15px 30px;
        border-radius: 0;
        margin-top:20px;
        display: block;
    }
    .paypal{
        width:100%;
        background-color:#ffc43a ;
        border-radius: 40px;
        padding:15px;
    }
    .payPalImg{
        width:76px;
        margin:0 auto;
    }
    .payCards{
        width:50%;
        margin:0 auto;
       margin-top:90px;
    }
    .cards{
        width:100%;
        margin-top:15px;
    }
    .cardimg{
        width:20%;
        display: inline-block;
        margin-left:7px;
    }
    .cardimg img{
        border-radius: 5px;
    }
    .power{
        color:#a4a8ab;
        font-size:.75em;
    }
    .sig{
        margin-top:15px;
    }
    .sig img{
display: inline-block;
width:60px;
    }
    .writerImg{
        width:30px;
        height:30px;
        display: inline-block;
    }
    .writerImg img{ border-radius: 50%}
    .writerName{
        font-size:14px;
        color:#383d54;
        margin-left:10px;
    }
    .NewsBox{
        box-shadow: none;
    }
    .NewsDesc{padding:20px 35px;}
    .newsWriter{
        width:100%;
        padding-bottom:15px;
        border-bottom:1px solid #f0f2f7;
    }
    .NewsTitle{
        font-size:2.125em;
        margin-bottom:25px;
    }
    .news p{
color:#c9c9c9;
font-size:.825em;
padding:0;
line-height:2;
    }
    .news{
padding-top:45px;
    }
    .newsTail{
        margin-top:60px;
        border:1px solid #f0f2f7;
        padding:5px 30px;
    }
    .tag span{
        background-color:#ececec;
        padding:5px;
        text-align: center;
        margin-right:15px;
        border-radius: 5px;
        font-size:11px;
    }
    .socialnews div{ 
        display: inline-block;
        width:80px;
        color:white;
        font-size:13px;
        border-radius: 40px;
        padding:5px 15px;
        margin-right:17px;
    }
    .socialnews div a{
    color:white;
    }
    .socialnews .facebookNews{
        background-color:#3b5998 ;
    }
    .twitterNews{
        background-color:#1da1f2;
    }
    .searchBox{
        width:100%;
        padding:20px;
        background-color:white;
        margin-bottom:20px;
    }
    .searchBox i{
        color:black;
        font-size:13px;
        line-height: 20px;

    }
    .searchinput{
        border:0;
        width:80%
    }
    .searchinput::placeholder{
        color:#c0c0c0;
        font-size:14px;
    }
    .catgTitle{
        font-size:1.625em;
        margin-left:10px;
    }
    .CategList{
padding:0;
    }
    .searchBox.categ{
padding: 30px 10px;
    }
    .CategList li{
        list-style-type: none;
        border-bottom:1px solid #f0f2f7;
        padding:13px 30px;
    }
    .CategList li a{
        color:#6eb83f;
    }
    .PopularPostBox{
        background-color: #f4f4f4;
        border-radius: 10px;
        margin-bottom:13px;
    }
    .PopularImg{
        width:30%;
    }
.PopularDesc{
    text-align: center;
    width:50%;
    margin-left:10px;
    padding-top:25px;
}
.PopularDesc span{
    font-size: .825em;
}
.searchBox.categ.pop{
    padding-bottom:5px;
}
.NewsPagebtn{
    font-size:.8em;
    width:auto;
    height:auto;
    padding:15px 30px;
}
.singleNews .card-body{
    padding:25px 20px;
}
.singleNews .card-title{
    font-size:16px;
}
.aboutBox{
    width:100%;
    padding:80px 40px;
    margin-bottom:30px;
}
.YellowOverlay{
background-color:rgba(195, 193, 49, .15);
position: absolute;
left:0;
top:0;
width:100%;
height: 100%;
z-index: 1;
}
.OurMission{
    background-image: url("../img/about1.png");
    position: relative;
}
.aboutTitle{
    font-size:1.875em;
    color:white;
    margin-bottom:30px;
}
.aboutBox p{
    font-size:.856em;
    color:white;
}
/********************************************/
 @media (max-width: 767px){
     .navbar-toggler{
         position: absolute;
        top:18px;
         left:10px;
         border-color:white
     }
     .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(143, 212, 69, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
      
     .navbar-brand{
         float:right;
         width:70px;
     }
     .navbar-collapse{
        position: absolute;
        background: rgb(255, 255, 255);
        color: black !important;
        left:0;
        top:70px;
        padding: 20px;
        width:100%;
        text-align: center;
        z-index: 12;

     }
     .scrollNav .navbar-collapse{
top:80px;
     }
    .scrollNav  .navbar-toggler{
border-color:#8fd445;
     }
     .navbar-collapse .nav-link{
         color:black;
     }
    .countnum{
        font-size:32px;
    }
    .countCont{
        margin-bottom:40px;
    }
    .counterSec{
        padding:50px 0;
    }
    .footerMenu{
        margin-top:20px;
    }
    .workSection .title{
        padding:20px;
    }
    .heroText{
        top: 33%;
        z-index: 11;
        left: 10%;
        max-width:80%;

    }
    .heroText span{
        font-size:1.5em
    }
     .heroText p{
         font-size:1em;
         margin-top:5px;
         margin-bottom:10px;
     }
     .heroSlider{
         height: auto;
     }
     .heroSlider .owl-nav{
         display: none;
     }
     .heroSlider .owl-dots{
bottom:0;
left:37%;
     }
    .countDetails{
        font-size:16px;
    }
    .btn{
        font-size:12px;
    }
.donateDesc,.contactFormBox,.donatBox,.informationBox.contactFormBox{
    padding:10px;
}

.inlinegroup{
    width:100%;
}
.form-group.lastinput{
    margin-left:0;
}
.donateSlider .owl-next,.donateSlider .owl-prev{
top:10%;
}
.projtext{
    padding:5px;
    width:70%
}
.dropdown-menu{
    left: auto;
    background: white;
    border:1px solid white;
    top: -31px !important;
    left: 84px !important;

}
.dropdown-menu a{
    color: black;

}
}