body{
    font-family: 'Poppins', sans-serif;
        position: relative;
}

.nav-item{
    margin-right:41px;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
font-size:16px;
color:white;
padding:30px 0 !important;
font-weight: 400;
}
.nav-link:hover{ 
 color:#8fd445 !important;
}
.hero{
    width:100%;

}
.heroSlider{
    width:100%;
    height:100%;
    position: relative;
    z-index: -1;
}
.overlay{
    background-color: rgba(0,0,0,.43);
    width:100%;
    position: absolute;
    left:0;
    top:0;
    z-index:2;
    height:100%;
}
.overlay.overlaywork{
    background-color: rgba(0,0,0,.30);

}

.navbar-brand{
    width:100px !important;
    transition: 1s all;
}
img{
    width:100%;
}
.social .nav-item{
    margin-right:35px;
}
.main-menu{
width:100%;
transition: 1s all;
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: 1s;
    background: rgb(255, 255, 255) !important;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 7px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    height:80px;
}
.scrollNav .nav-link{
    color:black ;
}
.scrollNav .navbar-brand{
    width:60px !important;
    transition: 1s all;
}
.social .nav-link.facebook:hover{
color: #3b5998 !important;
}
.social .nav-link.twitter:hover{
    color:  #1da1f2 !important;
    }
.languge{
    color:black;
    background-color: white;
    padding:0;
    padding:6px !important;
    border-radius: 5px;
    font-size: 12px !important;
    font-family: 'Cairo', sans-serif !important;


}
.Donate{
    background-color:#8fd445 !important;
    border-radius: 40px;
    font-size: 16px;
    color:white;
    border:0;
    width:100px;
    height:43px;
    line-height: 37px
}
.languge:hover{
    background-color:#8fd445 ;
}
.social ul li{
    display: inline-block;
}
.workSlider .owl-stage-outer{
    min-height: 550px;
}
.heroSlider .owl-next,.heroSlider .owl-prev,.donateSlider .owl-next,.donateSlider .owl-prev{

    position: absolute;
    top:50%;
    color:white;
    font-size: 40px;
    z-index: 5;
}
.heroSlider .owl-prev
{
left:10px;
}
.heroSlider .owl-next
{
right:10px;
}
.owl-dots{
    position: absolute;
    bottom: -10px;
    left:45%;
    z-index: 66666;
}
.heroSlider .owl-dots .owl-dot{
width:10px;
height:10px;
border:2px solid white;
margin-left:10px;
border-radius: 50%;
display: inline-block;
}
.heroSlider .owl-dots .owl-dot.active{
background-color: white;
}
.heroText{
position: absolute;
top:20%;
left:25%;
    color:white;
    font-weight: 500;
}
.heroText span{
    font-size:65px;
    background-color:#8fd445 ;
    padding:5px;
 
}
.heroText p{
font-size:38px;
margin-bottom: 25px;
}
.workSection{
    padding-top:75px;
    background-color:#f9f9f9;
    padding-bottom:85px;
}
.sectionTitle{
    font-size:35px;
    font-weight: 500;
}
.sectionTitleDetails{
    font-size:16px;
    color:#a1a1a1;
    margin-top:15px;
    font-weight: 400;
}
.workSlider{
    margin-top:25px;
    margin-bottom:80px;
}

.workslideImg{
    box-shadow: 0 0  0 5px #f5f6f8 inset;
}
.imgCont{
    width:80px;
    margin:0 auto;
    margin-bottom:15px;
}
.WorkDonate{
    margin-top:18px;
    border-radius: 0;
    visibility:hidden;
}

.sliderCont{
    position: absolute;
    bottom:80px;
    left:32%;
}
.workSlider{
    height:520px !important;
}
.worksliderItem{
    cursor: pointer;
    height:520px;
}
.workslideImg{
    height:100%
}
.worksliderItem:hover .workslideImg{
    outline: 1px solid #a7a19a;
    outline-offset: -15px;
}
.worksliderItem:hover .WorkDonate{
  visibility: visible;
}
.sliderCont h6{
font-size:30px;
color:white;
margin:auto;}
.underlineTitle{
    font-size:38px;
    font-weight: 500;
    color:black;
    position: relative;
}
.underlineTitle:before{
    content:"";
    width:5%;
    border:3.5px solid #8fd445;
    position: absolute;
    left:0;
    bottom:-7px;
}
.readMoreNews{
    position: absolute;
    background-color:#8fd445;
    border-radius: 0;
    bottom:-35px;
z-index: 1;
height:50px;
width:170px;
left:25%;
}
.newsSlider{
    margin-top:65px;
}
.newsSliderItem .card{
background-color:#f0f1f3;
border:0;
text-align: left;
}
.newsSliderItem .card-body{
    padding-bottom:40px;
}


.card-body{
    padding:35px 35px 45px !important
}
 .card-title{
    font-size:20px;
}
.card-text{
    font-size:14px;
    color:#99999a;
    height:60px;
    overflow: hidden;
}
.counterSec{
    background-image: url("../img/counterbg.png");
    background-size: cover;
    padding:85px 0;
    background-repeat: no-repeat;
}
.countCont{
    margin:0 auto;
    color:white;
}
.counticon{
    width:70px;
    margin:0 auto;
    margin-bottom:20px;
    
}
.countnum{
    font-size:45px
}
.countDetails{
    font-size:20px;
}
.testomonial{
    padding:85px 0;
}
.testTitle{
    font-size: 38px;
    font-weight: 500;
}
.testImg{
    width:75px;
    height:75px;
    border-radius: 50%;
    margin:auto;
    margin-bottom:15px;
}
.TestSlider{
    margin-top:20px;
}
.testItem{
    width:75%;
    margin:auto;
}
.testImg img{
    border-radius:50%;
    height: 100%;}

.testName{
    font-size:35px;
    font-weight: 500;
}
.jobTitle{
    font-size:16px;
    color:#8fd445;
    display: block;
    margin-bottom:20px;
}
.testDesc{
    color:#939393;
    font-size:14px;
}
.TestSlider .owl-dots{
    display: none !important;
}
.TestSlider .owl-prev ,.TestSlider .owl-next{
    position: absolute;
    font-size:25px;
    top:50%;
}
.TestSlider .owl-prev{
   
    left:0;
}
.TestSlider .owl-next{
right:0;
}
.footer{
    background-image:url("../img/footerbg.png");
    background-size:cover;
    background-repeat: no-repeat;
    padding:65px 0;
}
.underlineTitle.footer-title{
    color:white;
    font-size:24px;
    font-weight: 500;
    position: relative;
}
.underlineTitle.footer-title:before{
    border:2px solid #8fd445;
    width:10%;
    bottom:-12px;
}
.aboutSec{
    margin-top:30px;
}
.footerlogo{
    width:30%;
    margin-right:25px;
    display: inline-block
}
.aboutDesc{
    display: inline-block;
    width:61%;
    font-size:12px;
    color:#a3a2a2;
}
.subscribSec{
    width:100%;
    margin-top:30px;
    position: relative;
}
.subEmail{
    width:100%;
    background-color: #3d3d3d;
    border-radius: 40px;
    border:0;
    height:48px
}
.subEmail::placeholder{
    padding:20px 30px;
    font-size:12px;
    color:#999999;
}
.subscribe{
    background-color:#8fd445;
    color:white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: absolute;
    right:0;
    top:0;
    height:48px;
    line-height: 37px;
    width:120px;
    font-size: 14px;
}
.footerMenu{
    padding:0;
    margin:0;
}
.footerMenu li{
    list-style-type: none;
    margin:0;
    padding:0;
    margin-top:24px;
}
.footerMenu li a{
    color:white;
    font-size:14px;
  
}
.footerMenu li:first-child{
    margin-top:0;
}
li .underlineTitle.footer-title:before{
width:30%;
}
.copy-right{
    background-color: #212121;
    padding:30px 0;
}
.copy-right span{
    font-size:14px;
    color:white;
}
.socialIcons li{
    list-style-type: none;
    display: inline-block;
    margin-left:12px;
}
.socialIcons li a{
    color:#727272;
    font-size: 18px;
}
.socialIcons li a:hover{
    color:#8fd445
}
.pageTitle{
    background-color:#8fd445;
    text-align:center;
    width:100%;
    padding:20px 0;
}
.pageTitle span{
color:white;
font-size: 22px;
}
.innerHerochild{
    background-image: url("../img/innerbg.png");
    width:100%;
    background-size:cover;
    padding:85px 0 60px 0;
    background-repeat: no-repeat;
}
.innerHeroCont{
    color:white;
}
.innerTitle{
    font-size:30px;
}
.innerText{
    font-size:16px;
}
.Sponer{
    background-color: #8fd445;
    font-size:14px;
    color:white;
    width:135px;
    border-radius: 0;
    padding:16px;
    margin-top:25px;
}
.saveCont{
    padding:35px 0 70px 0;
    width:100%;
    background-color: #fafafa;

}
.childCont.card{
width:100%;
background-color:#f0f1f3;
padding-top:35px;
border:0;
margin-bottom:30px;
}
.childCont.card .card-title{
    font-size:20px;
    margin-bottom:0;
}
.childCont.card .card-text{
    font-size:14px;
    color:#afafaf;
    margin-bottom:0;
    margin-top:18px;
    line-height: 2;
}
.childimg{
    width:170px;
    height:170px;
    margin:0 auto;

}
.card-img-top{
    border-radius: 50%;
}
.pagenationNav{
    margin-top:20px;
}
.pagenationNav .page-link{
    margin-right:13px;
    background-color: white;
    border:0 !important;
    padding:15px;
    box-shadow:0 0 5px 0px rgba(0,0,0,.1);
    border-radius: 0 !important;
    border-radius: 8px !important;
    color:black;
    font-size:14px;
    line-height: 1;
}
.pagenationNav .page-item.active .page-link{
background-color: #6eae62;
color:white;
}
.Galleryimg{
    margin-bottom:10px;
}
.GalleryCont{
    background-color: #fafafa;
    padding:30px 0 50px 0;
    width:100%;
    position: relative;
}
.GalleryCont img{
    position: relative;
}
.imgtext{
    position: absolute;
    width:90%;
    left:5%;
background-color:rgba(0,0,0,.6);
bottom:7%;
color:white;
padding:5px 10px;
}
.searchicon{
   padding:15px 20px;
    color:white;
    background-color: #8fd445;
    border-radius: 50%;
    position: absolute;
    left:45%;
    top:40%;
    font-size: 20px;
    text-align: center;
}
.lSPrev,.lSNext{
font-size:40px !important;
color:white !important;

}
#lightSlider .imgtext{
width:50%;
left:30px;
background-color:rgba(0,0,0,.4);

}
#lightSlider .Galleryimg{
    position: relative;
}
.DonatCont,.ContactCont{
    padding:50px 0;
    background-color:#fafafa;
}
.donateSlider{
    max-height: 850px;
    margin-bottom:30px;
}
.donatCarouselItem{
    width:100%;
}
.donateSlider .owl-next
,.donateSlider .owl-prev{
    top:25%;
}
.donateSlider .owl-next
{
right:0;
}
.donateSlider .owl-prev{
    left:0
}
.donateImgCont{
    position: relative;
}
.donateDesc ,.donatBox,.contactFormBox{
    padding:60px 70px;
    background-color:white;
    color:#cdcdcd;
}
.donateDesc h4{
font-size:24px;
color:black;
}
.donateDesc p,.donatBox p{
    font-size:14px;}
    .donatBox{
        padding:60px 30 100px 30px;
        background-color: white;

}
.donatBox h4{
    font-size:20px;
    color:black
}
.donatBox p{
    max-width: 70%;
}
.donateForm{
    margin-top:20px;
}
.form-control{
    background-color:#f6f6f6;
    border:0;
    padding:20px;
    border-radius: 0;
    height: 55px;
}
.form-control::placeholder{
    font-size:14px;
    color:#939393;
}
.form-group.inlinegroup{
    width:48%;
    display: inline-block;
    
}
.form-group.lastinput{
    margin-left:30px;
}
textarea{
    resize: none;
}
.money{
visibility: hidden;
}   
 .form-control.moneyLabel{
    font-size:14px;
    color:#939393;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    border:1px solid transparent;
    width:100px;
    padding:0;

}
.radioGroup{
    display: inline-block;
    margin-right:20px;

}
.form-control.moneyLabel:hover{
color:#8fd445;
border:1px solid #8fd445;
}

.contactFormBox h4{
font-size:20px;
color:black;
}
.contactFormBox p{
font-size:14px;
color:#aeaeae;
}
.contactFormBox form{
    margin-top:20px;
}
.contactFormBox ul{
    padding:0;
    margin-top:20px;
}
.contactFormBox ul li{
    list-style-type: none;
    color:#4d5168;
    font-size:16px;
    margin-bottom:18px;
}
.contactFormBox .ContactinformationList  i{
margin-right:5px;
color:black;
}
.informationBox.contactFormBox{
    padding:60px 50px;
}
.socialConact{
    margin-top:10px;
}
.socialConact span{
    margin-right:10px;
    height:30px;
    width:30px;
    line-height: 30px;
    text-align: center;
    color:white;
    border-radius: 50%;
}
.socialLink{
color:white;
}

.socialConact span.facebook{
  background-color:#3b5998;  
  transition: 1s all;
}
.socialConact span.facebook:hover,.socialConact span.twitter:hover,.socialConact span.youtube:hover{
    background-color:white;
    transition: 1s all;
}
  .socialConact span.facebook:hover .socialLink{
    color:#3b5998 !important;
    transition: 1s all;
  }

.socialConact span.twitter{
    background-color:#26a6d1;
    transition: 1s all;
  
}
.socialConact span.twitter:hover .socialLink{
    color:#26a6d1 !important;
    transition: 1s all;
  }

.socialConact span.youtube{
    background-color:#c4302b;
    transition: 1s all;
  
}
.socialConact span.youtube:hover .socialLink{
    color:#c4302b !important;
    transition: 1s all;
  }

/********************************************/
 @media (max-width: 767px){
    .countnum{
        font-size:32px;
    }
    .countCont{
        margin-bottom:40px;
    }
    .counterSec{
        padding:50px 0;
    }
    .footerMenu{
        margin-top:20px;
    }
    .workSection .title{
        padding:20px;
    }
    .heroText span{
        font-size:35px
    }
    .countDetails{
        font-size:16px;
    }
.donateDesc,.contactFormBox,.donatBox,.informationBox.contactFormBox{
    padding:10px;
}

.inlinegroup{
    width:100%;
}
.form-group.lastinput{
    margin-left:0;
}
.donateSlider .owl-next,.donateSlider .owl-prev{
top:10%;
}
}